{% extends 'landlord/base.html' %}

{% block title %} Room {% endblock %}

{% block content %}

{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #f11f25;">
    <a class="navbar-brand font-weight-bold" href="{% url 'landlord:home' %}" style="color: white;">Landlord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:apartment' %}">Apartment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:employee' %}">Employee<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:tenant' %}">Tenant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:parking' %}">Parking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:room' %}">Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:lease_contract' %}">Lease Contract</a>
            </li>
        </ul>
    </div>
    <a href="{% url 'login' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
    </svg>
    </a>
</nav>

<main role="main">
    <br>
    <br>
    <br>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin-top: 30px;">
        <h1>Welcome to our project!</h1>
        We are a passionate and diverse team of individuals who came together to bring this idea to life. <br>Each of us played a unique role in shaping the project, and we're excited to share our journey with you.
    </div>

    <div style="height: 40%; background: url('{% static 'landlord/images/background_logo.png' %}') no-repeat center center; background: cover; margin-top: 3%;"></div>


    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin-top: 30px;">
        <!-- Name Section -->
        <h2 style="font-size: 28px; margin: 0; -webkit-text-stroke: 1px black; font-weight: 700; font-size: 60px; color: white;">
            <span style="color: #f11f25; -webkit-text-stroke: 1px black;">P</span>unnapa
            <span style="color: #f11f25; -webkit-text-stroke: 1px black; margin-left: 30px;">R</span>aveewan
            <span style="color: #f11f25; -webkit-text-stroke: 1px black; margin-left: 30px;">P</span>arima
        </h2>

        <!-- Description Section -->
        <p style="font-size: 20px; margin-top: 10px; max-width: 600px;">
            We are in Software Knowledge and Engineering at Kasetsart University. This project is part of the Database course.
        </p>
    </div>

</main>

{% endblock %}