{% extends 'landlord/base.html' %}

{% block title %} Parking {% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'landlord/filter_style.css' %}">

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #f11f25;">
    <a class="navbar-brand font-weight-bold" href="{% url 'landlord:home' %}" style="color: white;">Landlord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:apartment' %}">Apartment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:employee' %}">Employee<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:tenant' %}">Tenant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" style="color: white;" href="{% url 'landlord:parking' %}">Parking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:room' %}">Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #d1d1d1;" href="{% url 'landlord:lease_contract' %}">Lease Contract</a>
            </li>
        </ul>
    </div>
    <a href="{% url 'login' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
    </svg>
    </a>
</nav>

<main role="main">
  <br>
  <br>
  <br>
  <br>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 20px; margin-right: 50px;">
      <h1 class="font-weight-bold" style="margin-left: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 550 612">
              <path d="M135.2 117.4L109.1 192l293.8 0-26.1-74.6C372.3 104.6 360.2 96 346.6 96L165.4 96c-13.6 0-25.7 8.6-30.2 21.4zM39.6 196.8L74.8 96.3C88.3 57.8 124.6 32 165.4 32l181.2 0c40.8 0 77.1 25.8 90.6 64.3l35.2 100.5c23.2 9.6 39.6 32.5 39.6 59.2l0 144 0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L96 400l0 48c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-48L0 256c0-26.7 16.4-49.6 39.6-59.2zM128 288a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/>
          </svg>
          Parking
      </h1>
      <button type="button" data-toggle="modal" data-target="#addModal" style="background: #fffcaf; color: black; margin-right: 20px; border-radius: 10px; padding:10px;">+ Add Parking</button>
  </div>

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add Parking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'landlord:add_parking' %}" id="parkingForm" onsubmit="return validateForm()">
              {% csrf_token %}
              <div class="form-group">
                <label for="parking_zone" class="col-form-label">Zone:</label>
                <input type="text" class="form-control" id="parking_zone" name="parking_zone">
              </div>
              <div class="form-group">
                  <label for="parking_room">Room:</label><br>
                  <select id="parking_room" name="parking_room" class="form-select" style="height: 50px; width:100%;">
                    <option value="">All Room</option>
                      {% for room in rooms %}
                      <option value="{{ room.id }}"
                          {% if room == current_room %}
                            selected
                          {% endif %}>
                      {{ room.number }}
                      </option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                <label for="parking_plate" class="col-form-label">Plate Number:</label>
                <input type="text" class="form-control" id="parking_plate" name="parking_plate">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
            <script>
                function validateForm() {
                    const zone = document.getElementById("parking_zone").value;
                    const room = document.getElementById("parking_room").value;
                    const plate = document.getElementById("parking_plate").value;

                    if (!zone || !room || !plate) {
                        alert("Please fill in all fields.");
                        return false; // Prevent form submission
                    }
                    return true; // Allow form submission
                }
            </script>
          </div>
        </div>
      </div>
  </div>


  <div class="container" style="max-height: 700px;">
    <!-- Left Section: Filter Form -->
    <div class="filter-section">
        <h2>Filter Data</h2>
        <!-- Make the form submit as a GET request -->
        <form method="get">
            <!-- Zone Filter -->
            <label for="zone">Filter by zone:</label>
            <select id="zone" name="zone" class="form-select" style="height: 50px;">
            <option value="">All Zone</option>
                {% for zone in all_zone %}
                <option value="{{ zone }}"
                    {% if zone == current_zone %}
                        selected
                    {% endif %}>
                {{ zone }}
                 </option>
                {% endfor %}
             </select>
            <!--Room Filter -->
            <label for="room" style="margin-top: 10px;">Filter by room:</label>
            <select id="room" name="room" class="form-select" style="height: 50px;">
            <option value="">All Room</option>
                {% for r in rooms %}
                <option value="{{ r.id }}"
                    {% if r.id == current_room %}
                        selected
                    {% endif %}>
                {{ r.number }}
                 </option>
                {% endfor %}
             </select>
            <!--Plate Filter -->
            <label for="plate" style="margin-top: 15px;">Filter by plate number:</label>
            <input type="text" id="plate" name="plate" value="{{ request.GET.plate }}" placeholder="Enter plate number">
            <button class="filter-button" type="submit" style="margin-top: 20px; background: #a6e2ff; color: black;">Apply Filter</button>
        </form>
    </div>

    <!-- Middle Section: Data Table -->
    <div class="table-section table-hover" style="overflow: hidden;">
        <div style="display: flex; justify-content: space-between;">
            <h2>Parking Data</h2>
            <div>
                <label for="order" style="margin-right:3px;">sort by:</label>
                <select id="order" name="order" class="form-select" style="height: 30px;" onchange="submitForm()">
                    <option value="zone" {% if current_order == "zone" %} selected {% endif %}>Zone</option>
                    <option value="room__number" {% if current_order == "room__number" %} selected {% endif %}>Room</option>
                    <option value="plate_number" {% if current_order == "plate_number" %} selected {% endif %}>Plate Number</option>
                 </select>
                <script>
                    function submitForm() {
                        // Get the selected value
                        const orderSelect = document.getElementById('order');
                        const selectedOrder = orderSelect.value;

                        // Construct the URL with the order parameter
                        const url = new URL(window.location.href);
                        url.searchParams.set('order', selectedOrder);

                        // Redirect to the new URL with the updated query parameter
                        window.location.href = url;
                    }
                </script>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 580px; overflow-y: auto;">
        <table class="table" style="position: relative; border-collapse: collapse;">
          <thead style="position: sticky; top: 0; background: white; z-index: 1;">
            <tr>
              <th scope="col">Zone</th>
              <th scope="col">Room</th>
              <th scope="col">Plate Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for park in parking %}
              <tr>
                <td>{{ park.zone }}</td>
                <td>{{ park.room.number }}</td>
                <td>{{ park.plate_number }}</td>
                <td>
                    <a href="{% url 'landlord:delete_parking' park.id %}" class="btn btn-primary" style="background: #fffcaf; color: black; border: 1px solid gray; border-radius: 3px; padding:7px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                    <button type="button" data-toggle="modal" data-target="#editModal-{{ park.id }}" style="background: #fffcaf; border: 1px solid gray; color: black; border-radius: 3px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </button>
                    <div class="modal fade" id="editModal-{{ park.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Parking</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="{% url 'landlord:edit_parking' park.id %}" id="parkingEdit" onsubmit="return validateEdit()">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="new_zone" class="col-form-label">Zone:</label>
                                <input type="text" class="form-control" id="new_zone" name="new_zone" value={{park.zone}}>
                              </div>
                              <div class="form-group">
                                <label for="new_room">Room:</label><br>
                                <select id="new_room" name="new_room" class="form-select" style="height: 50px; width:100%;">
                                <option value="">All Room</option>
                                    {% for room in rooms %}
                                    <option value="{{ room.id }}"
                                        {% if room == park.room %}
                                            selected
                                        {% endif %}>
                                    {{ room.number }}
                                     </option>
                                    {% endfor %}
                                 </select>
                              </div>
                              <div class="form-group">
                                <label for="new_plate" class="col-form-label">Plate Number:</label>
                                <input type="text" class="form-control" id="new_plate" name="new_plate" value={{park.plate_number}}>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                             </div>
                            </form>
                            <script>
                                function validateEdit() {
                                    const zone = document.getElementById("new_zone").value;
                                    const room = document.getElementById("new_room").value;
                                    const plate = document.getElementById("new_plate").value;

                                    if (!zone || !room || !plate) {
                                        alert("Please fill in all fields.");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">No parking found matching the filter criteria.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>

    <!-- Right Section: Summary Table -->
    <div class="summary-section">
        <div class="sum-text">
          <h2> Summary </h2>
          <h3>Number of Parking: {{ num_parking }}</h3>
        </div>
    </div>
  </div>
</main>

{% endblock %}
